/* =================================
  Universal Styles
==================================== */

/* Base Styles */

html {
  font-size: 18px;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  line-height: 1.4;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

a {
  color: #fff;
  text-decoration: none;
}

/* =================================
  Main Styles
==================================== */

/* Header Styles */

header {
  height: 30rem;
  background-image: url('../images/glasses-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 1rem;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* Navigation Styles */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: cadetblue;
  color: #fff;
  padding: 1rem 0;
}

nav div {
  display: flex;
  align-items: center;
}

nav img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}

ul {
  margin-right: 1rem;
}

.main-nav li {
  display: inline;
  padding: 0 1rem;
}

.mobile-nav {
  display: none;
}

/* Banner Section Styles */

.flex {
  display: flex;
  justify-content: flex-end;
}

.main-banner {
  display: inline-block;
  position: relative;
  top: 10rem;
  margin-right: -2rem;
  background-color: #fff;
  padding: 0.75rem 5rem;
}

/* Services Section Styles */

.services {
  display: flex;
  justify-content: center;
  margin: 3rem 0 0 0;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 3rem;
  width: 5rem;
  height: 8rem;
}

.service img {
  width: 5rem;
}

.service-image img {
  width: 3.5rem;
}

/* Business Info Section Styles */

.business-info {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.info {
  width: 35%;
  margin-right: 5%;
}

.info .title {
  display: block;
  padding: 0.5rem 1.25rem;
  background-color: cadetblue;
  width: 10rem;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

.info p {
  padding: 1rem 0;
}

/* Footer Styles */

footer {
  margin-top: 5rem;
}

.logo-footer {
  display: flex;
  align-items: center;
  background-color: azure;
  padding: 4rem;
}

.logo-footer img {
  height: 1.5rem;
  margin-right: 1rem;
}

/* =================================
  Media Queries
==================================== */

/* Screen width > than 768 pixels and < than 1024 pixels */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  /* Header Styles */

  header {
    height: 22rem;
    padding-top: 0;
  }

  .container {
    width: 100%;
  }

  /* Banner Section Styles */

  .main-banner {
    top: 5rem;
    margin-right: 2rem;
    padding: 0.375rem 4rem;
  }

  h1 {
    font-size: 1.33rem;
  }
}

/* Screen width > than 320 pixels and < than 480 pixels */

@media only screen and (min-width: 320px) and (max-width: 480px) {

  /* Header Styles */

  header {
    height: 17rem;
    background-position: 20%;
    padding-top: 0;
  }

  .container {
    width: 100%;
  }

  /* Navigation Styles */

  nav span,
  .main-nav {
    display: none;
  }

  .mobile-nav {
    display: block;
    text-align: center;
    padding: 0 1rem;
  }

  /* Banner Section Styles */

  .main-banner {
    width: 100%;
    top: 9rem;
    padding: 0.5rem 0;
    margin: 0;
  }

  h1 {
    font-size: 1rem;
    text-align: center;
  }

}
